html
{

	font-family: sans-serif;

}

code
{

	background-color: rgb(30,30,30);

}

.quarter
{

	width: 50%;
	height: 50%;
	display: block;

}

.quarter h1
{

	/**/

}

.quarter-top .quarter-left
{

	position: relative;
	left: 0;
	top: 0;
	float: left;
	
}

.quarter-top .quarter-right
{

	position: relative;
	right: 0;
	top: 0;
	float: right;
	
}

.quarter-bottom .quarter-left
{

	position: relative;
	left: 0;
	bottom: 0;
	float: left;
	
}

.quarter-bottom .quarter-right
{

	position: relative;
	right: 0;
	bottom: 0;
	float: right;
	
}
